#bookmark-container {
    top: 12px;
    left: 12px;
    display: flex;
    position: absolute;
    align-items: center;
    width: calc(100% - 24px);
    justify-content: space-between;
}

#bookmark-container > img {
    width: 24px;
    height: 24px;
}

#bookmark-container .container {
    display: flex;
    align-items: center;
    gap: 12px;
}

#bookmark-container .container .bookmark-item {
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
}

#bookmark-container .container .bookmark-item span {
    text-align: start;
    line-height: 1.4;
    color: var(--bookmark-text-color);
}

#bookmark-container .container .bookmark-item:hover {
    background: rgba(24, 24, 24, 0.15);
}

#bookmark-container .container .bookmark-item img {
    width: 16px;
    height: 16px;
    user-select: none;
}

#bookmark-container .container .bookmark-folder {
    position: relative;
}

#bookmark-container .container .bookmark-folder .folder-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--bookmark-text-color);
}

#bookmark-container .container .bookmark-folder .bookmark-children {
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 8px;
    border-radius: 6px;
    width: 244px;
    display: none;
    z-index: 3;
}

#bookmark-container .container.other-bookmarks .bookmark-folder .bookmark-children {
    left: unset;
    right: 0px;
}

#bookmark-container .container .bookmark-folder:hover .bookmark-children {
    display: block;
}

#bookmark-container .container .bookmark-folder .bookmark-children .bookmark-item {
    margin: 0;
}

#bookmark-container .container .bookmark-folder .bookmark-children .bookmark-item span {
    text-align: start;
    line-height: 1.4;
    color: var(--bookmark-text-color);
}


#bookmark-container .container .bookmark-folder .folder-title:hover {
    background: rgba(24, 24, 24, 0.15);
}


#bookmark-container .container .bookmark-folder .folder-title svg {
    width: 16px;
    height: 16px;
    user-select: none;
}