#clock-position-wrapper {
  position: absolute;
  top: 118px;
}

#clock-wrapper {
  height: 96px;
  width: 284px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  cursor: default;
}

#clock {
  font-size: 56px;
  letter-spacing: 3px;
  font-weight: 600;
  color: var(--clock-text-color);
}

#date {
  font-size: 16px;
  font-weight: 400;
  color: var(--clock-text-color);
}

#analog-clock-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  cursor: default;

  --main-bg-color: #1e1f26;
  --main-text-color: #fff;
  display: none;
}

#analog-clock-wrapper .clock {
	min-height: 18em;
	min-width: 18em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:  rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
	background-image: url("/assets/image/analog_clock_bg.png");
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	/* border: 4px solid rgba(255, 255, 255, 0.25); */
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
		inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
		inset 0 15px 15px rgba(0, 0, 0, 0.3);
	transition: all ease 0.2s;
}

#analog-clock-wrapper .clock:before {
	content: "";
	height: 0.75rem;
	width: 0.75rem;
	background-color: var(--main-text-color);
	border: 2px solid #1abc9c;
	position: absolute;
	border-radius: 50%;
	z-index: 1000;
	transition: all ease 0.2s;
}

#analog-clock-wrapper #hour,
#analog-clock-wrapper  #minute,
#analog-clock-wrapper #second {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}

#analog-clock-wrapper #hour {
	height: 10em;
	width: 10em;
}

#analog-clock-wrapper #hour:before {
	content: "";
	position: absolute;
	height: 50%;
	width: 6px;
	background-color: var(--main-text-color);
	border-radius: 6px;
}

#analog-clock-wrapper #minute {
	height: 12em;
	width: 12em;
}

#analog-clock-wrapper #minute:before {
	content: "";
	height: 50%;
	width: 4px;
	background-color: var(--main-text-color);
	border-radius: 4px;
}

#analog-clock-wrapper #second {
	height: 13em;
	width: 13em;
}

#analog-clock-wrapper #second:before {
	content: "";
	height: 60%;
	width: 2px;
	background-color: #1abc9c;
	border-radius: 2px;
}


/* Numbers */
#analog-clock-wrapper .clock .number {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: var(--clock-text-color);
  transform: translate(-50%, -50%);
}

#analog-clock-wrapper .clock .n12 { top: 10%; left: 50%; }
#analog-clock-wrapper .clock .n3  { top: 50%; left: 90%; }
#analog-clock-wrapper .clock .n6  { top: 90%; left: 50%; }
#analog-clock-wrapper .clock .n9  { top: 50%; left: 10%; }


/* Glowing clock */
#digital-clock-v2-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  cursor: default;
  display: none;
}

#digital-clock-v2-wrapper #glow-clock {
    font-family: Orbitron;
    text-align: center;
    color: var(--clock-text-color);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(24, 24, 24, 0.2);
	
    .time {
        letter-spacing: 0.05em;
        font-size: 64px;
        padding: 5px 0;
		    margin: 0;
    }

    .date {
        letter-spacing: 0.1em;
        font-size: 18px;
		    margin: 0;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
		    margin: 0;
    }
}