/* Dark transparent overlay */
.settings-sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    z-index: 500;
    transition: opacity 0.25s ease;
}

.settings-sidebar-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Sidebar Panel */
#settings-sidebar {
    width: 100%;
    max-width: 572px;
    height: calc(100% - 42px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    border-radius: 0px;
    align-items: flex-start;
}

/* Sidebar visible */
.settings-sidebar-overlay.show #settings-sidebar {
    transform: translateX(0);
}

#settings-sidebar .item-wrapper {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#settings-sidebar .item-wrapper .item.position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper .gap {
    width: 24px;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper input[type="number"] {
    height: 36px;
    width: 84px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 0 4px 0 12px;
}


#settings-sidebar .video-selector {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#settings-sidebar .video-selector img {
  width: 24px;
  height: 24px;
}

#settings-sidebar .video-selector input {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0;
}