/* Dark transparent overlay */
.settings-sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    z-index: 500;
    transition: opacity 0.25s ease;
}

.settings-sidebar-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Sidebar Panel */
#settings-sidebar {
    width: 100%;
    max-width: 572px;
    height: calc(100% - 42px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    border-radius: 0px;
    align-items: flex-start;
    overflow-y: scroll;
}

/* Sidebar visible */
.settings-sidebar-overlay.show #settings-sidebar {
    transform: translateX(0);
}

#settings-sidebar .item-wrapper {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#settings-sidebar .item-wrapper .item.position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper .gap {
    width: 24px;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper input[type="number"] {
    height: 36px;
    width: 84px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 0 4px 0 12px;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper img{
    width: 28px;
    height: 28px;
}

#settings-sidebar .video-selector {
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#settings-sidebar .video-selector img {
  width: 36px;
  height: 36px;
}

#settings-sidebar .video-selector input {
  width: 36px;
  height: 36px;
  position: absolute;
  opacity: 0;
}

#settings-sidebar .available-videos {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

#settings-sidebar .available-videos .item {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#settings-sidebar .available-videos .item .bg-wrapper {
  width: 100%;
  height: 104px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

#settings-sidebar .available-videos .item .bg-wrapper .background {
  width: 100%;
  height: 104px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

#settings-sidebar .available-videos .item .bg-wrapper .overlay {
  width: 100%;
  height: 104px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.25s ease;
}

#settings-sidebar .available-videos .item .bg-wrapper:hover .overlay {
  opacity: 1;
}

#settings-sidebar .available-videos .item .bg-wrapper .check {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 2;
    opacity: 0;
}

#settings-sidebar .available-videos .item.selected .bg-wrapper .check {
    opacity: 1;
}

#settings-sidebar .available-videos .item  p {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    text-align: start;
    margin: 12px 0 0 0;
}