.settings-container {
  position: absolute;
  right: 12px;
  bottom: 24px;
  padding: 12px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.settings-container img {
  width: 24px;
  height: 24px;
}


/* Dark transparent overlay */
.settings-sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    z-index: 500;
    transition: opacity 0.25s ease;
}

.settings-sidebar-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Sidebar Panel */
#settings-sidebar {
    width: 100%;
    max-width: 572px;
    height: calc(100% - 42px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    border-radius: 0px;
    align-items: flex-start;
    overflow-y: scroll;
}

/* Sidebar visible */
.settings-sidebar-overlay.show #settings-sidebar {
    transform: translateX(0);
}

#settings-sidebar .item-wrapper {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#settings-sidebar .item-wrapper .item.position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper .gap {
    width: 24px;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper input[type="number"] {
    height: 36px;
    width: 84px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 0 4px 0 12px;
}

#settings-sidebar .item-wrapper .item.position .position-option-wrapper img{
    width: 28px;
    height: 28px;
}

#settings-sidebar .video-selector {
  border-radius: 6px;
  width: 148px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #1abc9c;
  margin: 12px 0;
}

#settings-sidebar .video-selector p {
    color: #ffffff;
    font-size: 14px;
    margin: 0 12px;
}

#settings-sidebar .video-selector img {
  width: 24px;
  height: 24px;
}

#settings-sidebar .video-selector input {
  width: 148px;
  height: 36px;
  position: absolute;
  opacity: 0;
}

#settings-sidebar .available-videos {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

#settings-sidebar .available-videos .item {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#settings-sidebar .available-videos .item .bg-wrapper {
  width: 100%;
  height: 104px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

#settings-sidebar .available-videos .item .bg-wrapper .background {
  width: 100%;
  height: 104px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

#settings-sidebar .available-videos .item .bg-wrapper .overlay {
  width: 100%;
  height: 104px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.25s ease;
}

#settings-sidebar .available-videos .item .bg-wrapper:hover .overlay {
  opacity: 1;
}

#settings-sidebar .available-videos .item .bg-wrapper .check {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 2;
    opacity: 0;
}

#settings-sidebar .available-videos .item.selected .bg-wrapper .check {
    opacity: 1;
}

#settings-sidebar .available-videos .item  p {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    text-align: start;
    margin: 12px 0 0 0;
}

.range-slider {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 296px;
  height: 8px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;

  &:active::-webkit-slider-thumb {
    background: #1abc9c;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #74b0ed;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: #1abc9c;
    }
  }

  &:active::-moz-range-thumb {
    background: #1abc9c;
  }
  
  /* Focus state */
  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px #ffffff,
                  0 0 0 6px #1abc9c;
    }
  }
}

    /* Range Handle */
    .range-slider__range::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #74b0ed;
        cursor: pointer;
        transition: background .15s ease-in-out;
    }
    
    .range-slider__range::-webkit-slider-thumb:hover {
      background: #1abc9c;
    }


/* Range Label */
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 36px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #74b0ed;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #74b0ed;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


/* Firefox Overrides */
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

#settings-sidebar .clock-style-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;
}

#settings-sidebar .clock-style-wrapper img {
    height: 104px;
    border-radius: 8px;
    cursor: pointer;
}