#shortcuts-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  bottom: 204px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 696px;
  flex-wrap: wrap;
}

#shortcuts-wrapper .item {
  width: 64px;
  height: 64px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid rgba(24, 24, 24, 0.2);
}

#shortcuts-wrapper .item .container {
  width: 40px;
  height: 40px;
  background: #ffffff33;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shortcuts-wrapper .item img {
  width: 24px;
  height: 24px;
}

/* Dark transparent overlay */
.shortcut-sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    z-index: 500;
    transition: opacity 0.25s ease;
}

.shortcut-sidebar-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Sidebar Panel */
#shortcut-sidebar {
    width: 372px;
    height: calc(100% - 42px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    border-radius: 0px;
    align-items: flex-start;
}

#shortcut-sidebar h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 600;
}

#shortcut-sidebar h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

/* Sidebar visible */
.shortcut-sidebar-overlay.show #shortcut-sidebar {
    transform: translateX(0);
}

#shortcut-sidebar input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

#shortcut-sidebar .shortcuts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#shortcut-sidebar .shortcuts-wrapper .item-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

#shortcut-sidebar .shortcuts-wrapper .item-wrapper img {
    width: 24px;
    height: 24px;
    user-select: none;
}

#shortcut-sidebar .shortcuts-wrapper .item {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 8px 12px;
    border-radius: 6px;
}

#shortcut-sidebar .shortcuts-wrapper .item.dragging  {
    border: 1px solid #5c75ff;
}
#shortcut-sidebar .shortcuts-wrapper .item.dragging  > * {
    opacity: 0.5;
}

#shortcut-sidebar .shortcuts-wrapper .item.drop-target {
    border-top: 2px solid #5c75ff;
}

#shortcut-sidebar .shortcuts-wrapper .item img {
    width: 24px;
    height: 24px;
}

#shortcut-sidebar .shortcuts-wrapper .item .close {
    width: 14px;
    height: 14px;
}

#shortcut-sidebar .shortcuts-wrapper .item span {
    font-size: 14px;
    width: calc(100% - 24px - 14px - 24px);
    text-align: start;
    margin: 0 12px;
}

#shortcut-sidebar .new-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 48px;
}

#shortcut-sidebar .new-wrapper img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#shortcut-sidebar .new-wrapper input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
}

#shortcut-sidebar .new-wrapper input::placeholder {
    color: #ffffff8e;
}