::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.55);
}

/* Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.35) rgba(255,255,255,0.05);
}

body {
  --clock-text-color: #ffffff;
  --bookmark-text-color: #ffffff;
  --shortcut-text-color: #ffffff;
  --google-text-color: #ffffff;

  margin: 0;
  background: #111;
  color: var(--text-color);
  display: flex;
  height: 100vh;
  font-family: Archivo, Arial, sans-serif;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.glass-card {
  padding: 30px;
  border-radius: 20px;
  /* GLASS EFFECT */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(24, 24, 24, 0.08);
  color: white;
  text-align: center;
}

#blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(6px);
}

.horizontal-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
  right: unset !important;
}

.vertical-center {
  top: 50% !important;
  transform: translateY(-50%) !important;
  bottom: unset !important;
}

.horizontal-center.vertical-center {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  right: unset !important;
  bottom: unset !important;
}